{:paths ["src" "resources"]
 :deps  {clj-kondo/clj-kondo       {:mvn/version "2025.10.23"}
         lt.jocas/clj-jq           {:mvn/version "2.4.0"}
         org.clojure/tools.logging {:mvn/version "1.3.1"}
         party.donut/sugar         {:mvn/version "0.0.22"}
         rewrite-clj/rewrite-clj   {:mvn/version "1.2.54"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "dev-resources"]
   :extra-deps  {org.clojure/clojure {:mvn/version "1.12.4"}}}
  

  :test
  {:extra-paths ["test" "dev-resources"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :exec-fn     cognitect.test-runner.api/test}

  :build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                slipset/deps-deploy           {:mvn/version "0.2.1"}}
   :ns-default build}}}
